# ===================================================
#
#   File: .gitconfig
#   Author: Akilesh Kannan
#   Contact: aklsh@tuta.io
#   Web: https://aklsh.now.sh
#
# ===================================================

[init]
    defaultBranch = main

# ---------------------------------------------------

[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = green
    changed = yellow
    untracked = red
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

# ---------------------------------------------------

[alias]
    amend = commit --amend
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold white)%s%C(reset) %C(white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"
    dft = difftool

# ---------------------------------------------------

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

# ---------------------------------------------------

[core]
    pager = delta
    excludesfile = ~/.gitignore
    editor = nvim

# ---------------------------------------------------

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "
    minus-style = syntax "#a0252b"
    plus-style = syntax "#3b6e43"
[diff]
    colorMoved = default

# ---------------------------------------------------

[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"

# ---------------------------------------------------

[web]
    browser = mozilla-firefox

# ---------------------------------------------------

[url "git@github.com:"]
    insteadOf = gh:
[url "git@gitlab.com:"]
    insteadOf = gl:

# ---------------------------------------------------

[push]
    default = current
[pull]
    rebase = false

# ---------------------------------------------------

[gpg]
    program = /usr/bin/gpg

# ---------------------------------------------------

[commit]
    gpgsign = true

# ---------------------------------------------------

[include]
    path = ~/.gitconfig.local
[gui]
	recentrepo = /home/aklsh/dots
