nvim/.config/nvim/lua/packer_compiled.lua
nvim/.config/nvim/lua/local.lua
scripts/.local/bin/fd
scripts/.local/custom/electric.log
bashtop/.config/bashtop/error.log
cargo/.cargo/.package-cache
cargo/.cargo/bin/
cargo/.cargo/env
cargo/.cargo/git/
cargo/.cargo/registry/
